<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="{% url 'car:search_result' %}" method="get">
            <input type="text" name="make" id="" placeholder="Enter car make">
            <input type="text" name="model" id="" placeholder="Enter car model">
            <input type="number" name="price" id="" placeholder="Enter maximum rental price">
            <input type="text" name="location" id="" placeholder="Enter pickup location">
            <input type="text" name="fuel" id="" placeholder="Enter fuel type">
            <button type="submit">Find Car</button>
        </form>
    </div>
    
    <a href="{% url 'car:list' %}">Back</a>
</body>
</html>